<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{'Adam th dot com'|force_escape}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111622045-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-111622045-1');
    </script>
  </head>
  <body>{% include "portfolio/pug/landing.pug" %}{% include "portfolio/pug/about.pug" %}{% include "portfolio/pug/work.pug" %}{% include "portfolio/pug/contact.pug" %}{% include "portfolio/pug/footer.pug" %}{% include "portfolio/pug/modal.pug" %}
  </body>
</html>