{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="banner" style="background-image: url({{ post.image_url }})"></div>
<div class="article-block">
    <div class="head">
        <div class="date">
            <div class="date-num">
                25
            </div>
            <div class="date-month">
                Mar
            </div>
        </div>
        <div class="article-heading">
            <div class="title">
                {{ post.title }}
            </div>
            <div class="subtitle">
                {{ post.subtitle }}
            </div>
        </div>
    </div>
    <div class="article-body">
        {{ post.text }}
    </div>
    <div class="article-end">
        <img src="{% static 'img/article-end.svg' %}" alt="end">
    </div>
    <div class="post-actions">
        <div class="like-button post-action">
            {% if liked %}
            <img src="{% static 'img/icon-heart-red-full.svg' %}" alt="like"> {% else %}
            <a href="{% url 'post_like' pk=post.pk %}">
                <img src="{% static 'img/icon-heart-red.svg' %}" alt="like">
            </a>
            {% endif %}
        </div>
        <div class="comment-button post-action">
            <a href="#">
                <img src="{% static 'img/icon-comment-red.svg' %}" alt="comment">
            </a>
        </div>
    </div>
</div>
{% endblock %}